<h1> List of Drinks</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Volume</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Best Before</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.volume %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td><%= product.sell_by %></td>
    </tr>
  <% end %>
</table>
